# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.gch
*.bin

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.vagrant
.idea
push.log
*.swp
